@import "tailwindcss";

@plugin "daisyui";

.gradient-text {
  background: linear-gradient(to right, #f97316, #ec4899, #7c3aed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}